version: '3'

services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
  web:
    build: .
    command: gunicorn setup.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 120 --max-requests 1000
    #command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - ./staticfiles:/app/staticfiles
    ports:
      - "8080:8000"
    expose:
      - "8000"
    depends_on:
      - redis
      - celery
      - celery-beat

  db:
    image: postgres:latest
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: disparo_mensagens
      POSTGRES_USER: t3a
      POSTGRES_PASSWORD: '@t3a1234@'
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"

  celery:
    build: .
    command: celery -A setup worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis

  celery-beat:
    build: .
    command: celery -A setup beat --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
      - celery

volumes:
  postgres_data:
