# fly.toml generated for Django + Celery + Evolution API
app = "silver-cannon-app"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8000"

[experimental]
  auto_rollback = true

[[services]]
  internal_port = 8000
  protocol = "tcp"

  [[services.ports]]
    port = 80
  [[services.ports]]
    port = 443

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = 10000
    timeout = 2000
    grace_period = "10s"
    restart_limit = 0

  [[services.http_checks]]
    interval = 10000
    timeout = 2000
    grace_period = "10s"
    method = "get"
    path = "/"
    protocol = "http"
    restart_limit = 0
